**/node_modules
**/coverage
**/.turbo
**/*.tsbuildinfo
**/.git
**/scripts
**/*.zip
**/.env
**/.env.*
!**/.env.example
**/__pycache__
packages/**/dist
apps/web/dist
apps/portal/dist
apps/worker/dist
**/*.md
!README.md
.github
.waypoint-tmp
*.log
